﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}

<div class="row">
    <div class="col-sm-4">
        <form method="post" action="post/" id="registracija">
            <h3>Registration</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registration</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="prijava">
            <h3>Login</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <h3>Logout</h3>
        <button class="btn btn-default" id="odjaviSe">Logout</button>
    </div>
</div>

<hr />
<div class="row">
    <p id="info"></p>
    <br />
    <button class="btn btn-default" id="proizvodi">Učitaj Proizvod/1</button>
    <p id="sadrzaj"></p>
</div>

<div class="row hideItem">
    <div class="col-sm-2">
        <button type="button" id="btnAdd">Add item</button>
    </div>
</div>

<div class="row hideItem" id="divAddEdit">
    <div class="col-sm-6">
        <div id="formDivAddEdit">
            <form method="post" action="post/" id="addEditForm">
                <p><label>Name: <input id="itemName"></label></p>
                <p><label>Price: <input type="number" id="itemPrice"></label></p>
                <p><label>Date: <input type="date" id="itemDate"></label></p>
                <br />
                <p><button>Submit</button></p>
            </form>
        </div>
    </div>
</div>

<div class="row" id="divTable1">
    <div class="col-sm-6">
        <table class="table table-striped table-hover info" id="table1">
            <thead class="table">
                <tr>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Price</th>
                    <th scope="col" class="text-center">Date</th>
                    <th scope="col" class="text-center hideItem">Edit</th>
                    <th scope="col" class="text-center hideItem">Delete</th>
                </tr>
            </thead>
            <tbody id="tableData1">
                @*<tr>
                    <td>Test1</td>
                    <td>Test2</td>
                    <td>Test3</td>
                    <td style="display:none">Test4</td>
                    <td style="display:none">Test5</td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>
